#============================================================================
# SPRING
#============================================================================
spring:
  datasource:
    driver-class-name : com.mysql.cj.jdbc.Driver
    url : jdbc:mysql://${db.host}:${db.port}/${db.name}?autoReconnect=${db.auto-reconnect}&useSSL=${db.ssl}&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC
    username : ${db.username}
    password : ${db.password}
  jpa:
    show-sql: false
    properties:
      hibernate:
      dialect : org.hibernate.dialect.MySQL5Dialect
      ddl-auto : validate

#============================================================================
# DATABASE
#============================================================================
db:
  name : spring_boot_soap
  host : localhost
  port : 3306
  username : root
  password : P@ssw0rd
  auto-reconnect : true
  ssl : false